body {
    background: #ECEFF1;
    color: rgba(0, 0, 0, 0.87);
    font-family: Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.grid {
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
}

.row {
    display: flex;
    flex-direction: row;
}

.left {
    justify-content: flex-start;
}

.right {
    justify-content: flex-end;
}

.spread {
    justify-content: space-between;
}

.evenly {
    justify-content: space-evenly;
}

.center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.light {
    color: #888;
    font-size: small;
}

.button {
    padding: 14px 10px;
    margin: 10px;
    border-radius: 2px;
    color: #FFF;
    font-weight: bold;
    background-color: #468C77;
    cursor: pointer;
    text-decoration: none;
}

.button.cancel {
    background-color: rgba(0, 0, 0, 0);
    color: #888;
    display: inline-block;
}

#input {
    padding: 14px 10px;
    font-size: 2rem;
    text-align: center;
}

.item {
    display: flex;
    justify-content: space-between;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 3px 8px 10px #DDD;
    margin-bottom: 10px;
}

.item>p {
    padding: 10px;
    margin-left: 10px;
    font-weight: bold;
}

.start {
    min-width: 200px;
    font-size: 2rem;
    padding: 20px 5px;
    text-align: center;
}

.sub-button {
    margin-top: -3px;
}

#post {
    display: none;
}

kbd,
kbd.button {
    padding: 0.1em 0.6em;
    border: 1px solid #ccc;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f7f7f7;
    color: #333;
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
    border-radius: 3px;
    display: inline-block;
    margin: 0 0.1em;
    text-shadow: 0 1px 0 #fff;
    line-height: 1.4;
    white-space: nowrap;
}

.option {
    min-width: 200px;
    min-height: 100px;
    border-radius: 10px;
    background-color: #FFF;
    box-shadow: 3px 8px 10px #DDD;
    text-align: center;
    padding: 10px;
}

.option>.button {
    font-size: 3rem;
}

kbd.button:hover {
    background-color: #ffecdb;
}